.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px; /* Espaciado entre los componentes */
  font-family: 'Arial', sans-serif; /* Tipografía limpia y moderna */
}

h1 {
  font-size: 2rem; /* Tamaño del texto para el título */
  margin-bottom: 20px; /* Espaciado debajo del título */
}

textarea {
  border-radius: 4px; /* Bordes redondeados sutiles */
  border: 1px solid #444; /* Borde oscuro y sutil */
  padding: 10px; /* Espaciado interno */
  background-color: #222; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  font-family: monospace; /* Fuente monoespaciada */
}

button {
  border-radius: 4px; /* Bordes redondeados sutiles */
  border: none;
  padding: 10px 20px;
  background-color: #555; /* Color de fondo del botón */
  color: white; /* Color del texto en los botones */
  cursor: pointer;
  font-size: 16px; /* Tamaño del texto en los botones */
  transition: background-color 0.3s; /* Transición suave al pasar el mouse */
}

button:hover {
  background-color: #666; /* Color de fondo del botón en hover */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
